.additional {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $special-grey;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }
}

.additional__title {
  @include main-font;
  margin-top: 25px;
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional__list {
  @include reset-list;
  @media (min-width: $tablet-width) {
    border: 1px solid $special-grey;
  }
}
