.catalog__item {
  padding-top: 19px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid $special-grey-2;

  &:last-child {
    border-bottom: 1px solid $special-grey-2;
  }
}

.catalog__title {
  @include main-font;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;
  padding-left: 20px;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: $basic-black;
}

.catalog__list {
  @include reset-list;
  margin-bottom: 25px;
}

.catalog__show-more {
  @include main-font;
  padding-top: 53px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  color: $basic-black-2;
  cursor: pointer;
}

.catalog__legend {
  font-size: 12px;
  line-height: 16px;
}

.catalog__show-all {
  @include main-font;
  margin-top: 21px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: $basic-grey;
  color: $special_dark-grey;
  cursor: pointer;
}
