.catalog-buttons {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 34px;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 38px;
  }
}

.catalog-buttons__show-more {
  @include main-font;
  position: relative;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 0;
  padding-top: 53px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  color: $basic-black-2;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 87px;
    width: 30px;
    height: 2px;
    background-color: $special_grey-6;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 86px;
    width: 30px;
    height: 2px;
    background-color: $special_grey-6;
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    width: 134px;
    margin-bottom: 23px;
    padding-top: 132px;
    font-size: 20px;
    line-height: 22px;

    &::before {
      top: 52px;
      width: 60px;
      left: 36px;
    }

    &::after {
      top: 52px;
      width: 60px;
      right: 38px;
    }
  }
}

.catalog-buttons__legend {
  margin: 0 auto;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
  }
}

.catalog-buttons__show-all {
  @include main-font;
  margin-top: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 79px;
  padding-right: 79px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: $basic-grey;
  color: $special-dark-grey;
  cursor: pointer;

  &:hover {
    background-color: $special-grey-2;
  }

  &:active {
    color: $special_dark-grey-1;
    background-color: $special-grey-2;
  }

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 39px;
    padding-right: 39px;
  }
}
