.catalog-banner__link {
  display: block;
  text-align: center;
  padding-top: 62px;
  cursor: pointer;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 89px;
    padding-right: 124px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

.catalog-banner__icon {
  @media (min-width: $tablet-width) {
    padding-top: 63px;
  }
}

.catalog-banner__text {
  margin: 0;
  padding-top: 59px;
  padding-bottom: 42px;
  width: 161px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 71px;
    padding-bottom: 69px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 42px;
    text-align: center;
  }
}
