.category {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: $basic-grey;
}

.category__title {
  @include main-font;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.category__description {
  padding-bottom: 23px;
  border-bottom: 1px solid $special_grey-4;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }
}

.category__link {
  @include main-font;
  padding-top: 19px;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
