.copyright {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .copyright__icon {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.copyright__icon {
  fill: $special_grey-3;
}

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  font-weight: normal;
}
