.example {
  background-color: $basic-grey-3;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }
}

.example__wrapper {
  padding: 27px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  @include main-font;
  margin: 0;
  margin-bottom: 33px;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__facts {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: $desktop-width) {
    justify-content: left;
  }
}

.example__description {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-top: 146px;
  }
}

.example__summary-block {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__summary {
  @include main-font;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 174px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    width: auto;
    text-align: left;
  }
}

.example__cat {
  position: relative;
}

.example__image {
  display: block;
  margin: 0 auto;
  margin-top: 42px;
}


.example__image--before {
  @media (min-width: $tablet-width) {
    margin: 0;
    width: 354px;
    height: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 365px;
    height: 536px;
  }
}


.example__image--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 354px;
    height: 607px;
    position: absolute;
    top: -30px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    height: 654px;
    position: absolute;
    top: -42px;
    right: -80px;
  }
}


.example__toggles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.example__toggle-button {
  @include main-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;
  background-color: transparent;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example__toggle-slider {
  width: 84px;
  height: 14px;
  border: 1px solid $special-grey;
  border-radius: 6px;
  background-color: $basic-white;
}

.example__background {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    z-index: -1;
    height: 462px;
    margin-top: -412px;
    background-color: $basic-grey-3;
  }
}
