.example__wrapper {
  padding: 27px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $basic-grey-3;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  @include main-font;
  margin: 0;
  margin-bottom: 33px;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__summary {
  @include main-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.example__image {
  height: 232px;

  @media (min-width: $tablet-width) {
    height: 620px;
  }

  @media (min-width: $desktop-width) {
    height: 658px;
  }
}

.example__toggle-button {
  @include main-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;
  background-color: transparent;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
