.extra-card__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.extra-card__title {
  @include main-font;
  width: 163px;
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: $special_dark-grey-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.extra-card__button {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 90px;
  padding-right: 90px;
}
