.extra {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-content: space-between;
  }
}

.extra__item {
  @media (min-width: $tablet-width) {
    margin-right: 120px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.extra__label-checkbox {
  @include main-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
