.main-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 22px;
  border-bottom: 1px solid $basic-grey-2;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 26px;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;;
  }
}

.main-nav__logo--mobile {
  position: absolute;
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    position: static;
    display: none;
  }
}

.main-nav__logo--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 61px;
    height: 51px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__logo--desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 71px;
    height: 59px;
  }
}

.main-nav__text-logo {
  margin: auto;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 12px;
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 64px;
  height: 66px;
  background-color: $basic-white;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 20px;
  width: 24px;
  height: 1.5px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 15px;
    width: 30px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
