.main-nav {
  display: flex;
  flex-direction: column;
  outline: 5px solid rgba(255, 0, 0, 0.1);
  outline-offset: -3px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
}

.main-nav__logo--mobile {
  display: block;
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__logo--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 61px;
    height: 51px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__logo--desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 71px;
    height: 59px;
  }
}

.main-nav__text-logo {
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 64px;
  height: 66px;
  background-color: $basic-grey-2;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 20px;
  width: 24px;
  height: 1.5px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 14px;
    width: 30px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
