.map__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  background-color: $basic-white;

  &--inner {
    background-color: $basic-grey;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }


  @media (min-width: $desktop-width) {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }
}

.map__contacts {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 28px;


  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 708px;
    padding-top: 66px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    margin: 0;
    padding-left: 76px;
    padding-right: 89px;
    padding-top: 66px;
    padding-bottom: 51px;
    width: 405px;
    background-color: $basic-white;
  }
}

.map__offer {
  width: calc(50% - 20px);
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.map__offer-text {
  @include main-font;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-black-2;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 25px;
  }
}

.map__address {
  width: 50%;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    width: 159px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 155px;
  }
}

.map__address-text {
  font-style: normal;
  margin: 0;
}

.map__city {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 19px;
  }
}

.map__map-block {
  height: 362px;

  background: url("../img/map-preview.png") no-repeat;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
