.map__contacts {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: $basic-white;

  &--inner {
    background-color: $basic-grey;
  }

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-top: 66px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.map__offer {
  @include main-font;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-black-2;
}

.map__address {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.map__map-widget {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
