.owner-info {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.owner-info__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  width: 100%;

  @media (min-width: $desktop-width) {
    margin-right: 78px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.owner-info__label,
.owner-info__owner-field {
  @include main-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.owner-info__label {
  flex-shrink: 0;
  margin-right: 16px;
}

.owner-info__owner-field {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 12px;
  border: 1px solid $special-grey;
}

.owner-info__owner-field--email {
  width: 100%;
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: top 13px right 14px;
}

.owner-info__owner-field--phone {
  width: 100%;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: top 13px right 14px;
}
