.page-header {
  @include main-font;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    width: 1220px;
  }
}

.page-header--index {
  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      background-image: url("../img/index-background-desktop.jpg");
      background-repeat: no-repeat;
      background-color: $basic-green-img;
      background-size: auto 694px;
      background-position-x: right;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}
