.page {
  @include second-font;
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $special_dark-grey;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
