.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 22px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  margin-top: 19px;
  margin-bottom: 32px;
}
