.page-header {
  @include main-font;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    width: 1220px;
  }
}
