.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 22px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.page-footer__logo-link {
  display: block;
  margin: 0 auto;
  margin-top: 19px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    min-width: 163px;
    margin: 0;
  }
}

.page-footer__social {
  border-top: 1px solid $special_grey-4;
  border-bottom: 1px solid $special_grey-4;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
