.selection-form {
  margin-bottom: 32px;
}

.selection-form__fieldset-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.selection-form__fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  margin-bottom: 27px;
}

.selection-form__list {
  @include reset-list;
}

.selection-form__title {
  @include main-font;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.selection-form__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.selection-form__button {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.selection-form__legend {
  font-size: 14px;
  line-height: 16px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
