.site-list {
  @include reset-list;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

.site-list__item {
  padding: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid $basic-grey-2;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 42px;
    padding-bottom: 8px;
    margin-right: 35px;
    border-bottom: none;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $basic-green;

        @media (min-width: $desktop-width) {
          background-color: $basic-white;
        }
      }
    }

    &--active-inner {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $basic-green;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
  }
}

.site-list__item-link {
  color: $basic-black;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    color: $basic-white;

    &--inner {
      color: $basic-black;
    }
  }
}
