.site-list {
  @include reset-list;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.site-list__item {
  padding: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid $basic-grey-2;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 42px;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-list__item-link {
  color: $basic-black;
  text-decoration: none;
}
