.site-list {
  @include reset-list;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 450px;
  }
}

.site-list__item {
  padding: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid $basic-grey-2;
}

.site-list__item-link {
  color: $basic-black;
  text-decoration: none;
}
