.social__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 27px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social__link--vkontakte,
.social__link--instagram,
.social__link--facebook {
  &:hover path {
    fill: $basic-green;
  }

  &:active path {
    opacity: 0.3;
  }
}

/*
.social__link--vkontakte svg {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram svg {
  @media (min-width: $tablet-width) {
    width: 23x;
    height: 23px;
  }
}

.social__link--facebook svg {
  @media (min-width: $tablet-width) {
    width: 28x;
    height: 33px;
  }
} */
