.specification__wrapper {
  margin-top: 27px;
  margin-bottom: 42px;
  padding-left: 20px;
  padding-right: 20px;
}

.specification__title {
  @include main-font;
  margin: 0;
  margin-bottom: 38px;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.specification__description {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.specification__list {
  @include reset-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.specification__item {
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    width: 250px;
    padding: 0;
    padding-top: 110px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 94px;
  }
}
